.buttonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 30px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.profileImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profileImage {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.dropdownContent {
  margin-top: 10px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  width: 230px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdownContent a {
  width: 198px;
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  cursor: pointer;
  background-color: #fafafa;
  color: #272727;
}

.profileLink {
  border-bottom: 1px solid #DBDBDB;
}
/* .buttonContainer:hover
.dropdownContent {
  display: block;
} */
.dropdownContent p {
  width: 198px;
  color: #333333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdownContent p:hover {
  cursor: pointer;
  background-color: #fafafa;
  color: #272727;
}
