/* 350 x 381.5 */

.mainContainer {
  background-color: #FAFAFA;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.phoneImg{
  position: relative;
}

#snowImg-container {
  position: absolute;
  top: 96px;
  right: 60px;
  width: 245px;
  height: 434px;
  overflow:hidden;
}

.snowImg{
  object-fit: cover;
  object-position: center center;
  height:100%;
  width:100%;
}

.storeImg{
  width: 50%;
  margin-top: 20px;
}

.centerContainer {
  width: 900px;
  height: 90vh;
  display: flex;
  flex-direction: row;
  align-items:center
}

.landingImgContainer {
  display: flex;
  justify-content: flex-end;
  width: 500px;
  position: relative;
}

.mainFormContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
}

.upperFormContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #FFFFFF;
  width: 350px;
  height: 381.5px;
  border: 1px solid #DBDBDB;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.formLogo {
  width: 350px;
  height: auto;
}
.profileLogo {
  height: 100px;
  width: 100px;
}
.profile_image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.lowerFormContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  width: 350px;
  height: 63px;
  padding: 10px 0px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.signUpLink{
  color: rgb(60,142,230);
  padding: 5px;
}
.fullContainer {
  display: flex;
  flex-direction: column;
}
.appStoreContainer{
  display: flex;
  flex-direction: column;
  color: slategray;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  width: 350px;
  align-items: center;
}
