/* 350 x 381.5 */

.mainContainer {
  background-color: #FAFAFA;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.phoneImg{
  position: relative;
}
.snowImg{
  position: absolute;
  top: 97px;
  right: 107px;
  width: 245px;
  height: 433px;
}

.centerContainer {
  width: 1000px;
  height: 70vw;
  display: flex;
  flex-direction: row;
  align-items:center
}

.landingImgContainer {
  width: 500px;
  position: relative;
}

.mainFormContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

.upperFormContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #FFFFFF;
  width: 350px;
  height: 381.5px;
  border: 1px solid #DBDBDB;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.formLogo {
  width: 350px;
  height: auto;
}
.profileLogo {
  height: 100px;
  width: 100px;
}
.profile_image {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.lowerFormContainer {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  width: 350px;
  height: 63px;
  padding: 10px 0px;

}

.fullContainer {
  display: flex;
  flex-direction: column;
}
