.mainNavContainer {
  /* background-color: #FFFFFF;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #DBDBDB; */
  background-color: rgb(250, 250, 250);
  order:0;
  padding:0;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink:0;
  margin:0;
  position: relative;
}

.nav-spacer {
  flex-basis:60px;
  flex-shrink: 0;
}

.inner-nav-container {
  align-items:stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink:0;
  margin:0;
  padding:0;
  position:relative;
}

.inner-nav-container-2 {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(219,219,219);
  height:60px;
  position:fixed;
  top:0;
  width:100%;
  z-index:3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin:0;
  padding:0;
}

.centerNavContainer {
  /* width: 935px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; */
  align-items: center;
  display: flex;
  flex-direction: row;
  height:60px;
  justify-content: center;
  max-width:975px;
  padding:0 20px;
  width:100%;
  z-index: 10;
  box-sizing: border-box;
  flex-shrink: 0;
  margin:0;
  position: relative;
}

.homeLogo-container {
  /* width: 335px;
  justify-self: flex-start; */
  flex:1 0 127px;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin:0;
  padding:0;
  position:relative;
}

.home-link {
  color:rgb(0, 55, 107);
  text-decoration: none;
  margin:0;
  padding:0;
  border:0;
  font:inherit;
  vertical-align: baseline;
  cursor: pointer;
}

.home-logo-inner-container {
  flex:0 0 auto;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  align-content: stretch;
  display: flex;
  margin:0;
  padding:0;
  position:relative;
}

.home-logo-wrapper {
  margin-top: 7px;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding:0;
  position:relative;
}

.navLogo {
  /* height: 40px;
  margin-left: -40px; */
  max-height: 100%;
  max-width:100%;
  object-fit: contain;
  height:29px;
}

.searchBarContainer {
  background-color: red;
  border-radius: 8px;
  align-items: center;
  display: flex;
  flex:0 1 auto;
  height:36px;
  min-width:125px;
  width:268px;
  box-sizing: border-box;
  flex-direction: column;
  margin:0;
  padding:0;
  position:relative;
  visibility: hidden;
}

.navIcons {
  /* justify-self: flex-end;
  display: flex;
  flex-direction: row;
  width: 301px; */
  flex:1 0 127px;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin:0;
  padding:0;
  position:relative;
}

.home-icon-link {
  height:24px;
}

.navIcon {
  height: 24px;
  width: 24px;
  margin-left: 30px;
}