#post-modal-container {
  width: 89vw;
  height: 55vw;
  display: flex;
}

#post-modal-image-container {
  width: 62%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#post-modal-image-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin-top: auto;
  margin-bottom: auto;
}

#inner-div {
  color: white;
}

.display-photo {
  width: 100%;
  height: 100%;
}

#inner-div-two {
  color: white;
}

#post-modal-right-container {
  position: relative;
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* justify-content: space-around; */
  font-size: 14px;
}

#top-right-container {
  position:absolute;
  top: 1;
  display: flex;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #DBDBDB;
}

#top-right-container-left {
  width: 60px;
}

#top-right-container-right {
  display: flex;
  align-items: center;
  height: 60px;
  width: 368px;
  padding-left: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  border-bottom: 1px solid #FAFAFAFA
}

.display-profile-pic {
  width: 100%;
  height: 100%;
}

/* .right-column-div {
  padding: 1em;
} */

#post-description-edit {
  /* min-height: 20%;
  max-height: 30%; */
  background-color:blue;
  height: 280px;
  overflow-y: scroll;
}

#comments-row {
  /* max-height: 30%; */
  background-color: brown;
  height: 200px;
  overflow-y: scroll;
}

#likes-button-bar {
  height:fit-content;
  padding: .8em;
}

#profile-pic-holder {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  object-fit: cover;
  width: 28px;
  height: 28px;
}

#right-column-likes {
  background-color: aquamarine;
  height: 100px;
  box-sizing: border-box;
  padding: 20px;
}

.postBtn {
  border: none;
  color: rgb(60, 142, 230);
  background-color: white;
}


/* .textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
} */
