.signUpDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  form{
      display: flex;
      justify-content: center;
  }
  .input_div{
      padding: 10px;
      width: 268px;
  }
  input{
      width: 260px;
      height: 25px;
  }
  .LoginFormInput {
    display: flex;
    margin: 10px;
    width: 260px;
    height: 36px;
  }

  .signup_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 30px;
    background-color: rgb(60,142,230);
    border-radius: 5px;
    border: none;
    color: white;
  }
