.loginForm {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.LoginFormInput {
  display: flex;
  margin: 10px;
  width: 260px;
  height: 36px;
}

.loginBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 268px;
  height: 30px;
  background-color: rgb(60,142,230);
  border-radius: 5px;
  border: none;
  color: white;
  margin-top: 
}

/* padding 14 0 2 8  */
