* {
  font-family: 'Montserrat', sans-serif;
}


/*********************************upload form styling *******************************************/


.uploadFormMain {
  height: 830px;
  width: 788px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.uploadFormTop {
  position: absolute;
  top: 0px;
  margin-bottom: 500px;
  display: flex;
  justify-content: center;
  width: 788px;
  color: #2D2D2D;
  font-size: 16px;
  font-weight: 500;
  border-bottom: 1px solid #DBDBDB;
}

/* .uploadFormSpacer {
  width: 100%;
  height: 500px;
} */

.uploadFormBtm {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 250px;
}

.mediaImgContainer {
  height: 77px;
  display: flex;
  justify-content: center;
}

.mediaImg {
  max-width: 100%;
  height: auto;

}

.formContainer {
  display: flex;
  flex-direction: column;
}


.uploadTextContainer {
  display: flex;
  justify-content: center;
  color: #6D6D6D;
  font-weight: 300;
  font-size: 22px;
}

.uploadBtnContainer {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
}

.field {
  width: 250px;
}


/**********************display form  styling*****************************************/

.image-div {
  display: flex;
  justify-content: center;
  align-items: center;

}

.previewImage {
  max-width: 100%;
  max-height: 100%;
  /* object-fit: contain */
}

.displayFormContainer {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.displayForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.textAreaContainer {
  background-color: chartreuse;
  width: 100%;
  height: 200px;
}

.submitBtnContainer {
  background-color: brown;
  width: 100%
  display: flex
}
.submitFormBtn {
  width: 166px;
  height: 30px;
  background-color: #0095F6;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  font-weight: 700;
}

.uploadBtnContainer {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
}

.field {
  width: 250px;
}
