.following-feed-container {
  display: flex;
  justify-content: space-between;
  width: 58px;
  height: 118px;
  background-color: #FFFFFF;
  border: 1px solid #dfdfdf;
  padding: 10px
}

.following-feed-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.following-feed-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 75px;
  width: 75px;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  border-radius: 50%;
  overflow:hidden;
}

.following-feed-profile-pic {
  height: 75px;
  width: 75px;
}

.following-feed-username-link {
  display: flex;
  justify-content: center;
}


.following-feed-username-link a:hover {
  cursor: pointer;
}
