.following-feed-container {
  display: flex;
  width: 600px;
  height: 118px;
  background-color: #FFFFFF;
  border: 1px solid #dfdfdf;
}


.following-feed-pic-container {
  display: block;
    box-sizing: border-box;
    height: 80px;
    width: 40px;
    margin-right: 12px;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    border-radius: 50%;
    overflow:hidden;
}

#following-feed-heading-text {
object-fit:cover;
width: 70px;
height: 70px;

}
