.following-feed-container {
  display: flex;
  width: 600px;
  height: 118px;
  background-color: #FFFFFF;
  border: 1px solid #dfdfdf;
  padding: 10px
}


.following-feed-pic-container {
  display: block;
    box-sizing: border-box;
    height: 75px;
    width: 75px;
    margin-right: 12px;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    border-radius: 50%;
    overflow:hidden;
}

. following-feed-heading-text {


}
