.post-box {
  display: flex;
  flex-direction: column;
  width: 600px;
  background: #fff;
  border: 1px solid #dfdfdf;
  margin-top: 20px;
  height: fit-content;
  box-sizing: border-box;
}
.username_link {
  text-decoration: none;
  color: black;
  width: auto;
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin: 10px;
}
.username_link:hover {
  font-weight: bolder;
}
.user{
  display:flex;
  align-items: center;
}

.photo {
  width: 100%;
  height: 500px;
  object-fit: contain;
}
.likes {
  font-weight: bold;
  margin-left: 10px;
}
.comments {
  font-weight: bold;
  margin-left: 10px;
}
.description {
  margin: 10px 0;
  margin-left: 10px;
  font-size: 14px;
  line-height: 20px;
}

.post-icons {
  
}

.profile-image-post {
  width: 40px;
  margin: 10px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
}
