#form-modal-container {
  width: 89vw;
  height: 55vw;
  display: flex;
}

#form-modal-image-container {
  width: 62%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

#form-modal-image-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  margin-top: auto;
  margin-bottom: auto;
}

#form-modal-right-container {
  position: relative;
  width: 38%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 14px;
}